
.cubeWrap {
  perspective: 800px;
  width: 300px;
  overflow: hidden;
  position: absolute;
  animation: bouncy 2s ease forwards;
}

.cube {
  margin:8em auto;
  width:6em;
  height:6em;
  transform-style:preserve-3d;
  transform-origin:50% 50% -3em;
  position:relative;
  animation: spin 6s linear infinite;
  transform: rotateX(-50deg) rotateY(405deg);
  div {
    position:absolute;
    width:6em;
    height:6em;
    transform-style:preserve-3d;
  }
}

.faces1::before,
.faces1::after,
.faces2::before,
.faces2::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.faces1::before,
.faces2::before {
  transform: rotateY(90deg);
  transform-origin: 0 50%;
  background-color: purple;
}

.faces2 {
  transform: rotateX(180deg) translateZ(6em);
}

.faces2::before {
  background-color:orange;
  transform:rotateY(-90deg);
  transform-origin:100% 50%;
}

.faces1::after,
.faces2::after {
  transform:rotateX(-90deg);
  transform-origin:50% 0;
  background-color:red;
}

// Base Color
$color: #ffa500;
// variations
$color2: lighten($color,2%);
$color3: lighten($color,4%);
$color4: lighten($color,8%);
$color5: darken($color,2%);
$color6: darken($color,4%);

.faces1         {background-color:$color;}
.faces2         {background-color:$color2;}
.faces1::before {background-color:$color3;}
.faces2::before {background-color:$color4;}
.faces1::after  {background-color:$color5;}
.faces2::after  {background-color:$color6;}



@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(720deg) rotateY(360deg) rotateZ(0deg);
  }
}


@keyframes bouncy {
  /* up */
  0% {
    transform: translateY(-600px) scale(.8,1.2);
    animation-timing-function: ease-in;
  }
  /* floor */
  30% {
    transform: translateY(0) scale(.8,1.2);
    animation-timing-function: ease-out;
  }
  /* floor */
  32% {
    transform: translateY(0) scale(1,.8);
    animation-timing-function: ease-out;
  }
  /* up */
  45% {
    transform: translateY(-100px) scale(.9,1.1);
    animation-timing-function: ease-in;
  }
  /* floor */
  60% {
    transform: translateY(0) scale(.9,1.1);
    animation-timing-function: ease-out;
  }
  /* floor */
  62% {
    transform: translateY(0) scale(1,.9);
    animation-timing-function: ease-out;
  }
  /* up */
  70% {
    transform: translateY(-30px) scale(.9,1.1);
    animation-timing-function: ease-in;
  }
  /* floor */
  80% {
    transform: translateY(0) scale(1,1);
    animation-timing-function: ease-out;
  }
  /* floor */
  82% {
    transform: translateY(0) scale(1,.95);
    animation-timing-function: ease-out;
  }
  /* up */
  85% {
    transform: translateY(-10px) scale(.98,1.02);
    animation-timing-function: ease-in;
  }
  /* floor */
  90% {
    transform: translateY(0) scale(1,1);
    animation-timing-function:ease-out;
  }
}


///////////////////////////////////////////////////////


.ani {
  font-family: 'Josefin Sans', sans-serif;
  background: radial-gradient(#121212, #000);
  height: 100vh;
  color: #aaa;
  // Center everything
  display: flex;
  align-items: center;
  justify-content: center;
}


