$Color: #fc0;
@import "../../global";
.composition{
  overflow-x: hidden;
  //margin-top: 150px;
  position: relative;
.bg-img{
  position: absolute;
  top: 25%;
  left: -20px;
  z-index: -1;
  width: auto;
}
  .container{
    h4,h1{
      color: $Color;
      margin-bottom: 30px;
    }
    .row{
        .honey{
          padding: 0!important;
          max-width: 100%;
          max-height: 237px;
          position: relative;
          overflow: hidden;
          border-radius: 10px;
          &:hover .honey-body{
            top: 0;
          }
          .honey-body{
            width: 100%;
            height: 100%;
            transition: 0.4s linear;
            position: absolute;
            top: -237px;
            background-color: rgba(0,0,0,0.3);
            h3{
              text-align: center;
              margin-top: 50px;
              color: $Color;
            }
            .buttons{
              display: flex;
              justify-content: center;
              .btn{
              @extend %btn11;
                width: 185px;
                span{
                  margin-left: 5px;
                  font-size: 20px;
                  font-weight: bold;

                }
                &:hover {
                  color: white;
                  span {
                    margin-left: 8px;
                  }
                }
              }
            }

          }
          img{
            width: 100%;
            height: 100%;
        }
      }

        .col-md-6{
          .text{
            span{
              font-size: 24px;
              color: $Color;
              margin-right: 10px;
              letter-spacing: 2px;
            }
            font-size: 16px;
            padding: 8px;
          }
        }
    }
    .row:nth-child(2) {
      .col-md-6{
        .text{
          padding: 50px 8px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .composition{
    margin-top: 70px;
    .bg-img{
    display: none;
    }
    .container{
      h4,h1{
        color: $Color;
        margin-bottom: 20px;
        font-size: 16px;
      }
      .row{


        .col-md-6{
          .text{
            span{
              font-size: 24px;
              color: $Color;
              margin-right: 10px;
              letter-spacing: 2px;
            }
            font-size: 16px;
            padding: 8px;
          }
        }
      }
      .row:nth-child(2) {
        .col-md-6{
          .text{
            padding: 50px 8px;
          }
        }
      }
    }
  }
}