$Color: #fc0;
.operators {
  overflow: hidden;
  margin: 100px 0;
  .bg-img{
    position: absolute;
    right:  0;
    z-index: -1;
  }
  .container{
    .title{
      text-align: center;
      margin: 60px 0;
      color: $Color;
    }
    .row{
      .col-md-6{
        .icon{
        i{
          font-size: 50px;
          margin: 30px auto;
          display: flex;
          justify-content: center;
          color: $Color;
        }
        }
        h3{
          text-align: center;
        }
      }
    }
  }
}
@media(max-width: 1024px){
  .bg-img{
    display: none;
  }
}
@media(max-width: 480px){
  .operators{
    margin: 50px 0;
    .container{
      .title{
        margin: 25px 0;
      }
      .row{
        .col-md-6{
          .icon{
            i{
              font-size: 40px;
              margin: 30px auto;
            }
          }
          h3{
            font-size: 20px;
          }
        }
      }
    }
  }
}