$Color: #fc0;


.header {
  overflow: hidden;
  //background-color: aqua;
  position: revert;

  .container {
    .row {
      height: 90vh;
      padding-top: 50px;

      .col-md-6 {
        .title {
          color: #0FAF7C;
          font-size: 60px;
          font-weight: bold;
          margin-top: 50px;
        }

        img {
          width: 100%;
        }

        .dynamic-txt {
          margin-left: 15px;
          height: 90px;
          overflow: hidden;
        }

        .dynamic-txt li {
          list-style: none;
          font-weight: 500;
          font-size: 60px;
          color: $Color;
          position: relative;
          top: 0;
          text-transform: capitalize;
          animation: slide 14.8s steps(3) infinite;
        }

        @keyframes slide {
          100% {
            top: -270px;
          }
        }

        .dynamic-txt li span {
          position: relative;
        }

        .dynamic-txt li span::after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 110%;
          background: #ffffff;
          border-left: 2px solid $Color;
          animation: typing 2.5s steps(10) infinite alternate;
        }

        @keyframes typing {
          100% {
            left: 100%;
            margin: 0 -35px 0 35px;
          }
        }

        .underline {
          margin-bottom: 8px;
        }

        i {
          font-weight: bold;
          color: #212529;
          font-family: serif;
          font-size: 18px;
          margin-left: 12px;
        }
      }
    }
  }

  .bg-img {
    position: absolute;
    //top: 200px;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 200px;
  }
}

@media (max-width: 880px) {

  .header {
    .bg-img {
      z-index: -1;
      bottom: 30%;
      width: 100px;
    }
    .container {
      .row {
        padding-top: 30px;

        .col-md-6 {
          margin-bottom: 30px;

          .title {
            color: #0FAF7C;
            font-size: 45px;
            margin-top: 0;
          }

          .dynamic-txt {
            margin-left: 5px;
            height: 60px;
            overflow: hidden;
          }

          .dynamic-txt li {
            list-style: none;
            font-weight: 500;
            font-size: 40px;
            color: $Color;
            position: relative;
            top: 0;
            text-transform: capitalize;
            animation: slide 18s steps(3) infinite;
          }

          @keyframes slide {
            100% {
              top: -180px;
            }
          }

          .dynamic-txt li span {
            position: relative;
          }

          .dynamic-txt li span::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 110%;
            background: #ffffff;
            border-left: 2px solid $Color;
            animation: typing 3s steps(10) infinite alternate;
          }

          @keyframes typing {
            100% {
              left: 100%;
              margin: 0 -35px 0 35px;
            }
          }

          .underline {
            width: 100%;
          }

          i {
            font-weight: 500;
            color: #212529;
            font-family: serif;
            font-size: 16px;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }


}

@media (max-width: 480px) {

  .header {
    padding-bottom: 90px;
    .bg-img {
      bottom: 35%;
      //width: 100px;
    }


    .container {
      .row {
        padding-top: 30px;

        .col-md-6 {
          margin-bottom: 30px;

          .title {
            color: #0FAF7C;
            font-size: 40px;
            font-weight: bold;
            margin-top: 0;
          }

          .dynamic-txt {
            margin-left: 15px;
            height: 60px;
            overflow: hidden;
          }

          .dynamic-txt li {
            list-style: none;
            font-weight: 500;
            font-size: 40px;
            color: $Color;
            position: relative;
            top: 0;
            text-transform: capitalize;
            animation: slide 18s steps(3) infinite;
          }

          @keyframes slide {
            100% {
              top: -180px;
            }
          }

          .dynamic-txt li span {
            position: relative;
          }

          .dynamic-txt li span::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 110%;
            background: #ffffff;
            border-left: 2px solid $Color;
            animation: typing 3s steps(10) infinite alternate;
          }

          @keyframes typing {
            100% {
              left: 100%;
              margin: 0 -35px 0 35px;
            }
          }

          .underline {
            width: 100%;
          }

          i {
            font-weight: 500;
            color: #212529;
            font-family: serif;
            font-size: 16px;
          }

          img {
            width: 100%;
          }
        }
        .col-img{
          margin: 30px 0;
        }
      }
    }
  }


}