$Color: #fc0;


.carousels{
  height: auto;
  padding: 7vh 0;
  overflow-x: hidden;
  overflow-y: hidden;
.container{

.row{
  .col-12 {
    .slick-slider {
      .img-box {
        width: 300px;
        height: 348px;

        img {
          width: 100%;
          height: 100%;
          padding: 20px;
          border-radius: 40px;
        }
      }
      .slick-prev::before,.slick-next::before{
        color: $Color;
        font-size: 26px;
        display: block;
      }
      ul{
        li{
          button::before{
            font-size: 20px;
            color: $Color;
          }
        }
      }
    }
  }
  }
}
}
@media(max-width: 768px){
  .carousels{
    .container{

      .row{
        .col-12 {
          .slick-slider {
            .img-box {
              width: 300px;
              height: 313px;
            }
            .slick-prev::before,.slick-next::before{
              color: $Color;
              font-size: 26px;
              display: none;

            }
            ul{
              li{
                button::before{
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
